/*UO285176 - Eduardo Blanco Bielsa*/

/*especifidad: 001*/
body {
    width: 60%;
    margin: 5%;
    font-size: 100%;
    color:black;
    text-align: center;
}

/*especifidad: 001*/
h1 {
    font-size: 2em;
    padding: 1.6em 1.6em;
    text-align: center;     
}

/*especifidad 001*/
button {
    font-size: 1.2em;
    background-color: rgb(75,75,75);
    border-radius: 0.3em;
    color: white;
}

/*especifidad:001*/
input {
    resize: none;
    font-size: 3em;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 1;
    background-color: #adfbff;
    color: #000000;
}

/*especifidad:001*/
form {
    background-color: #000000;
    position: absolute;
    left: 27%;
    display:grid;
    grid-template-columns: [columna1] 4em [columna2] 4em [columna3] 4em [columna4] 4em [columna5] 4em[end];
    grid-template-rows:  [row1] 4em [row2] 4em [row3] 4em [row4] 4em [row5] 4em [row6] 4em [row7] 4em [row8] 4em [row9] 4em [row10] 4em [end];
    row-gap: 0.7em;
    column-gap: 0.7em;
    padding: 2em;
}

/*especifidad:011*/
button[value="deg"]{
    grid-column: span 2;
    font-size: 1.2em;
    background-color: rgb(75,75,75);
    border-radius: 0.3em;
    color: white;
}

/*especifidad:011*/
button[value="hyp"]{
    grid-column: span 2;
    font-size: 1.2em;
    background-color: rgb(75,75,75);
    border-radius: 0.3em;
    color: white;
}

/*especifidad:001*/
label {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-end: 1;
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgba(248, 248, 248, 0);
}