/*UO285176 - Eduardo Blanco Bielsa*/

/*Especificidad:001*/
body {
    background-color: white;
    margin: 5%;
    font-size: 100%;
    color:black;
    text-align: left;
}

/*Especificidad:001*/
button{
    background-color: rgb(33, 255, 218);
    color: black;
}