/**
Eduardo Blanco Bielsa
Módulo para el posicionamiento
Permitidos -> Flexbox, grid o multicol

NO USAR DISPLAY FLOAT
NO USAR MEDIAS ABSOLUTAS, USAR em -> 16 px = 0.625 em
**/

/*Especificidad 001*/
h3{
    padding-top: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

/*Especificidad 001*/
h4{
    padding-top: 1em;
    padding-left: 6.5em;
    padding-right: 2.5em;
}
